name: ci
on:
  push:
  pull_request:
jobs:
  build:
    name: build & lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 21.1.0

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      - name: Build
        run: |
          yarn build
      - name: lint checks
        run: |
          yarn lint
      